<ion-row>
  <ion-col>
    <ion-row padding-bottom (click)="addTime('minutesSplit', 0)"><ion-icon name="arrow-dropup-circle"></ion-icon></ion-row>
    <ion-row>{{minutesSplit[0] || 0}}</ion-row>
    <ion-row padding-top (click)="minusTime('minutesSplit', 0)"><ion-icon name="arrow-dropdown-circle"></ion-icon></ion-row>
  </ion-col>
  <ion-col>
    <ion-row padding-bottom (click)="addTime('minutesSplit', 1)"><ion-icon name="arrow-dropup-circle"></ion-icon></ion-row>
    <ion-row>{{minutesSplit[1] || 0}}</ion-row>
    <ion-row padding-top (click)="minusTime('minutesSplit', 1)"><ion-icon name="arrow-dropdown-circle"></ion-icon></ion-row>
  </ion-col>
  <ion-col>
    <ion-row padding-bottom (click)="addTime('secondsSplit', 0)"><ion-icon name="arrow-dropup-circle"></ion-icon></ion-row>
    <ion-row>{{secondsSplit[0] || 0}}</ion-row>
    <ion-row padding-top (click)="minusTime('secondsSplit', 0)"><ion-icon name="arrow-dropdown-circle"></ion-icon></ion-row>
  </ion-col>
  <ion-col>
    <ion-row padding-bottom (click)="addTime('secondsSplit', 1)"><ion-icon name="arrow-dropup-circle"></ion-icon></ion-row>
    <ion-row>{{secondsSplit[1] || 0}}</ion-row>
    <ion-row padding-top (click)="minusTime('secondsSplit', 1)"><ion-icon name="arrow-dropdown-circle"></ion-icon></ion-row>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <button ion-button color="light" (click)="saveTime()">Save</button>
  </ion-col>
</ion-row>

