<ion-list>

  <ion-list-header *ngFor="let timeSetup of timeSetups; let i = index" no-lines class="item-border">

    <button ion-item (click)="toggleSection(i)" [ngClass]="{'section-active': timeSetup.open, 'section': !timeSetup.open}">
      {{ timeSetup.name }}
      <ion-icon item-right name="ios-arrow-forward" *ngIf="!timeSetup.open"></ion-icon>
      <ion-icon item-right name="ios-arrow-down" *ngIf="timeSetup.open"></ion-icon>
    </button>

    <ion-list *ngIf="timeSetup.open" no-lines>
      <!-- Second Level -->

        <ion-item (click)="presentPopover(timeSetup.preparation)">
          <h2>Preparation</h2>
          <ion-note item-end>
            <time-lapse-component [time-lapse]="timeSetup.preparation"></time-lapse-component>
          </ion-note>
        </ion-item>

        <ion-item (click)="presentPopover(timeSetup.workout)">
          <h2>Workout time</h2>
          <ion-note item-end>
            <time-lapse-component [time-lapse]="timeSetup.workout"></time-lapse-component>
          </ion-note>
        </ion-item>

        <ion-item (click)="presentPopover(timeSetup.rest)">
          <h2>Rest time</h2>
          <ion-note item-end>
            <time-lapse-component [time-lapse]="timeSetup.rest"></time-lapse-component>
          </ion-note>
        </ion-item>

        <ion-item (click)="presentPopover(timeSetup.cycles)">
          <h2>No. of Cycles</h2>
          <ion-note item-end>
            {{timeSetup.cycles}}
          </ion-note>
        </ion-item>

    </ion-list>

  </ion-list-header>

  <button ion-item (click)="addTimer()">
    <ion-title item-left>Add timer</ion-title>
    <ion-icon item-right name="ios-add-circle-outline"></ion-icon>
  </button>

</ion-list>
